h1{
   text-align:center;
   background-color:lightblue;

}
   .highlight{
      text-align:center;
      background-color:light-blue;

   }
   .author{
      text-align:center;
      color:blue;
      }
    




